page-tasks {

  .list-item {
    padding: 12px 16px 0 16px;

    &-textContainer {
      background-color: white;
      margin: 1.0em;
      margin-left: -30px;
      padding-left: 20px;
    }

    &-title {
      padding-left: 20px;
    }

    &-icon--expand {
      color: $gray-4;
      float: right;
      transition: transform 0.1s;
    }

    &-icon--collapse {
      @extend .list-item-icon--expand;
      transform: rotate(180deg);
    }
  }

}
