<ion-content>
<ion-row>
<button ion-button end (click)="onTaskNew()"><ion-icon name="add"></ion-icon></button>
</ion-row>
  <ion-card>
    <div
      ion-row
      nowrap
      class="list-item"
      *ngFor="let task of tasks"
      >
    <button-item-done
      [task]="task"
      (doneClick)="onTaskDone(task)"
    >
    </button-item-done>

      <div
        class="list-item-title"
        (tap)="onTaskExpand(task)"
      >
        {{ task.name }}

        <ion-icon
          [class.list-item-icon--expand]="!task.isExpanded"
          [class.list-item-icon--collapse]="task.isExpanded"
          name="ios-arrow-down"
        >
        </ion-icon>
      </div>

      <div *ngIf="task.isExpanded">
        <div ion-row>{{ task.duration }}</div>
        <div
          ion-row
          *ngFor="let cycle of task.task_cycles"
          >
          {{ cycle.muliplier }}
          {{ cycle.do_count }}
        </div>
        <div ion-row>
          <button
            ion-button
            clear
            (tap)="onTaskEdit(task)"
          >
            Edit
          </button>
        </div>
      </div>
      </div>

    </ion-card>
</ion-content>
